* {
    font-family: 'Playfair Display', serif;
    color: white;
    
}



.color1{
    background-color: #44436C;
}

.color2 {
    background-color: #58578B;
}



nav div img {
    width: 1.2rem;
}

nav a {
    text-decoration: none;
}


.navbar img {
    width: 10rem;
}

.navbar h1 {
    font-style: italic;
}



    .parallax {
        /* The image used */
        background-image: url("assets/lotus.jpg");
      
        /* Set a specific height */
        min-height: 150vh; 
      
        /* Create the parallax scrolling effect */
        background-attachment:fixed;
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
       
      }



.centered {
   
    position: absolute;
    top: 125%;
    left: 50%;
    transform: translate(-50%, -50%);
    
   
  }


  .text-main {
    text-shadow:0 0 5px black;
    width: 100%;
  }

 

  .fade-in {
    animation: fadeIn 5s;
  }

  @keyframes fade-in {
    0% {opacity: 0;}
    100% {opacity: 1;}    
  }


  #wheels img {
    width: 62rem;
  }


  .wheel {
    height: 75vh;
  }

  .wheel a {
    text-decoration:none;
  } 

  .wheel p {
    font-size: 22px;
  }


  .marg {

    height: 300px;
   

  } 


  #pillars h1{
    font-size: 88px;
  }

  #pillars p {
    font-size: 28px;
  }

 

  #pillars h2 {
    font-size:50px;
    
  }

  #pillars p {
    font-size: 28px;
  }

  

  #img img{
    width: 100%;
  }

  #footer {
    height: 50px;
  }

 