section{
    padding: 60px 0;
    
}

#main {
    padding:0;
}

nav img {
    width: 10rem;
    background-color:#f0a029;
}

.nav-item a {
    text-shadow: 0 0 25px white;
    font-size: 20px
}

.nav-item a:hover {
    color:#f0a029;
    
}

.bg-img{
    position:absolute;
    top: 0;
    left:0;
    z-index:-1;
    height: 100vh;
    width: 100%;
    object-fit:cover;
}

.parent{
    height: 100vh;
    text-shadow: 0 0 10px black;
}



.bg-color{
    background-color: #1D1F26;
}



.img-col:hover{
    background-color: #393a3e;
}


.countries img {
    height: 25rem;
    object-fit: cover;
} 

.img-wrapper{
    position: relative;
}

.img-wrapper > .content {
    position:absolute;
    inset:0;
    color: white;
    display:flex;
    justify-content: center;
    align-items: center;
}

.img-wrapper:hover{
    opacity:0.8 ;
}

.center-container {
    position: relative;

} 
.center-container img { 
    width: 100%;
    height: 35rem;
    object-fit:cover;
}
.center-container > .content {
    position: absolute;
    inset:0;
    display: flex;
    flex-direction: column;
    justify-content: end;
    align-items: center;
    
}


.card:hover {
    transform: scale(1.1);
}



@media (max-width: 768px) {
    .countries img {
        height: 10rem;
        object-fit: cover;
    } 
  }